{
    "extends": [
        "airbnb",
        "plugin:prettier/recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:jsx-a11y/recommended",
        "prettier"
    ],
    "plugins": ["prettier", "react"],
    "env": {
        "es6": true,
        "browser": true
    },
    "rules": {
        "react/no-unescaped-entities": "off"
    }
}
