/* General Styles */

form {
    width: 90vw;
    margin-top: 10px;
    background-color: white;
    border-radius: 0 0 35px 35px;
}

form > input,
form > button,
form > div {
    box-sizing: content-box;

    height: 60px;
    text-align: center;
    background-color: white;
    border: 4px solid black;
}

form > input,
form > div {
    border-right: none;
}

form > input:first-child {
    border-radius: 0 0 0 35px;
}

form > button {
    border-radius: 0 0 35px 0;
    color: #27a300;
}

::placeholder {
    opacity: 1;
    color: gray;
}

input:focus::placeholder {
    color: transparent;
}

input:focus,
button:focus {
    outline: none;
    background-color: #29e7cd;
}

input:hover,
button:hover {
    cursor: pointer;
}

input::-webkit-calendar-picker-indicator {
    display: none !important;
}

/* Scheduler Form Styles */

.scheduler-form > input,
.scheduler-form > button {
    width: calc((100% - 20px) / 4);
}

.not-applicable {
    background-color: #cccccc;
}

.not-applicable:hover {
    cursor: not-allowed;
}

/* Logger Form Styles */

.logger-form > input,
.logger-form > button {
    width: calc((100% - 20px) / 5);
}

.logger-form {
    display: flex;
}

.logger-form > div {
    width: calc((100% - 20px) / 5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logger-form > div > input {
    width: 40%;
    text-align: center;
    border: none;
}
