.progress-container {
    height: 100%;
    position: relative;
}

.progress-bar,
.progress-value {
    position: absolute;
    height: 100%;
}

.progress-bar {
    background-color: #fe5f55;
}

.progress-value {
    z-index: 1;
    width: 100%;
}
