/* Global Styles */

* {
    margin: 0;
    padding: 0;
    font-family: "Anek Latin", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

.main {
    min-height: 93vh;
    background: url(../images/pattern.jpg) center repeat;
    padding-top: 50px;
}

.center-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    width: 800px;
    height: 80px;

    font-size: 50px;
    font-weight: 500;

    margin: 0 auto;
    text-align: center;
    background: #fe5f55;

    border-radius: 35px;
    border: 4px solid black;
}

.sub-heading {
    width: 500px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 35px;
    font-weight: 400;

    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    background: #29e7cd;

    border-radius: 35px;
    border: 4px solid black;
}

input,
select,
textarea,
button {
    font-size: inherit;
}

/* Media Queries */

@media (max-width: 1100px) {
    .heading {
        width: 600px;
        font-size: 40px;
    }

    .sub-heading {
        width: 375px;
        font-size: 28px;
    }
}

@media (max-width: 650px) {
    .heading {
        width: 450px;
        font-size: 35px;
    }

    .sub-heading {
        width: 300px;
        font-size: 25px;
    }
}

@media (max-width: 500px) {
    .heading {
        width: 300px;
        font-size: 25px;
    }

    .sub-heading {
        width: 225px;
        font-size: 18px;
    }
}

